
* { font-family: 'Noto Sans KR', sans-serif; }

.mt-100{
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 100px;
}

.custom-rounded {
  border-radius: 10px !important;
}

.custom-rounded::placeholder {
  color: rgb(184, 184, 184) !important;
}

.form-control::placeholder {
  color: rgb(184, 184, 184) !important;
}