* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 250;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 100px;
}

.custom-rounded {
  border-radius: 10px !important;
}

.custom-rounded::placeholder {
  color: rgb(0, 0, 0) !important;
  font-weight: 300;
}

.form-control::placeholder {
  color: rgb(184, 184, 184) !important;
}

.custom-btn {
  background: linear-gradient(45deg, #6229ff, #20c997);
  color: white;
  border: none;
  transition: filter 0.3s ease;
}

.custom-btn:hover {
  filter: brightness(0.8);
}

/* 전체 배경에 그라데이션 적용 */
.gradient-background {
  background: linear-gradient(to bottom, #cfebdc, #ffffff);
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
}

/* 카드 스타일 조정 */
.card {
  background-color: white; /* 카드 내부는 흰색 */
  border-radius: 15px; /* 둥근 모서리 */
}

.close-btn {
  position: fixed;
  top: 30px;
  right: 60px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  z-index: 1000;
  border-radius: 20%;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000000;
}

.notices {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
  text-decoration: none;
}

.notices:hover {
  text-decoration: underline;
}

.row > col-md-3 > ul > li {
  margin-bottom: 30px;
}

.fc-event-time {
  display: none;
}

#calendar {
  height: 100%;
}

/* 학교생활 페이지 css */
.bg-beige {
  background-color: rgb(252, 242, 228);
}
.bg-yeondoo {
  background-color: rgb(230, 252, 228);
}

.bg-grey {
  background-color: rgb(234, 234, 234);
}
.bg-skyblue {
  background-color: rgb(231, 228, 252);
}

.custom-rounded2 {
  border-radius: 50px;
}

#hover {
  transition: filter 0.2s ease;
}
#hover:hover {
  filter: brightness(0.9);
}
