{% extends "base.html" %} {% block title %}홈 | 크구라이프{% endblock %} {%
block content %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<!-- tippy 사용 위찬 연결-->
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- tippy 사용 위찬 연결-->
<div class="container mt-4">
  <div class="row g-3">
    <!-- Calendar 카드 -->
    <div class="col-md-8">
      <div class="card h-100" style="border-color: white">
        <div class="card-body" style="overflow: hidden">
          <div id="calendar"></div>
        </div>
      </div>
    </div>

    <!-- 학과 공지사항 + 일정 추가 -->
    <div class="col-md-4 d-flex flex-column justify-content-between">
      <!-- 학과 공지사항 카드 -->
      <div class="card flex-grow-1" style="border-color: white">
        <div class="card-body" style="overflow: hidden">
          <p class="mt-2 text-center font-weight-bold text-secondary">
            학과 공지사항
          </p>
          <hr />
          {% for notice in noticeList %}
          <div>
            <a
              class="notices d-block mb-2 text-muted"
              href="{{notice.link}}"
              style="font-weight: 200"
              >{{notice.title}}</a
            >
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- 일정 추가 폼 -->
      <div class="card flex-grow-1" style="border-color: white">
        <div class="card-body">
          <form>
            <!-- 날짜 입력 -->
            <div
              class="d-flex align-items-center mb-3"
              style="font-size: x-small"
            >
              <input
                type="date"
                id="start"
                class="form-control"
                style="border-color: white; min-width: 120px"
              />
              <span class="">ㅡ</span>
              <input
                type="date"
                id="end"
                class="form-control custom-rounded"
                style="border-color: white; min-width: 120px"
              />
            </div>

            <!-- 일정 제목 -->
            <div class="mb-3">
              <input
                type="text"
                id="title"
                class="form-control custom-rounded"
                placeholder="일정 제목"
              />
            </div>

            <hr />

            <!-- 일정 추가 버튼 -->
            <div class="">
              <button
                id="addEventButton"
                type="button"
                class="text-secondary rounded-pill bg-light px-3 py-2 d-inline-block"
                style="
                  background-color: rgb(224, 224, 224);
                  border: none;
                  font-weight: 400;
                  float: right;
                "
              >
                일정 추가
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
