{% extends "base.html" %}

{% block title %}지도 | 크구라이프{% endblock %}

{% block content %}
<h1>지도 화면</h1>
<script src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey={{TMAP_API_key}}"></script>
<div class="d-flex">
    <div id="map_div"></div>
    <div class="ml-4" style="width: 25%;">
        <div class="map_div" onclick="select_shortCut()">지름길</div>
        <div class="map_div" onclick="select_lecture_building()">강의동</div>
        <div class="map_div" onclick="select_library()">공부장소</div>
        <hr>
        <div class="mt-4" id="agora" style="display: none;">
            <h1>아고라</h1>
            <p>가나다라마ㅏ바ㅏ사ㅏ아아자ㅏ자ㅏㅏㅏ나ㅏ차ㅏㅏㅐ자자ㅏㅇ다리ㅏ개ㅏ파ㅣ나ㅣㄷ다랆ㄷ러데ㅐㅓ;ㅍ너ㅓ;ㅓㅍㄷ</p>
        </div>
        <div class="mt-4" id="central_library" style="display: none;">
            <h1>종합도서관</h1>
            <p>가나다라마ㅏ바ㅏ사ㅏ아아자ㅏ자ㅏㅏㅏ나ㅏ차ㅏㅏㅐ자자ㅏㅇ다리ㅏ개ㅏ파ㅣ나ㅣㄷ다랆ㄷ러데ㅐㅓ;ㅍ너ㅓ;ㅓㅍㄷ</p>
        </div>
        <div class="mt-4" id="second_lecture_building" style="display: none;">
            <h1>2강의동</h1>
            <p>가나다라마ㅏ바ㅏ사ㅏ아아자ㅏ자ㅏㅏㅏ나ㅏ차ㅏㅏㅐ자자ㅏㅇ다리ㅏ개ㅏ파ㅣ나ㅣㄷ다랆ㄷ러데ㅐㅓ;ㅍ너ㅓ;ㅓㅍㄷ</p>
        </div>
        <div class="mt-4" id="seventh_lecture_building" style="display: none;">
            <h1>7강의동</h1>
            <p>가나다라마ㅏ바ㅏ사ㅏ아아자ㅏ자ㅏㅏㅏ나ㅏ차ㅏㅏㅐ자자ㅏㅇ다리ㅏ개ㅏ파ㅣ나ㅣㄷ다랆ㄷ러데ㅐㅓ;ㅍ너ㅓ;ㅓㅍㄷ</p>
        </div>
        <div id="shortCut" style="display: none;">
            <div class="shortCut_div" onclick="shortCut1()">지름길1</div>
            <div class="shortCut_div" onclick="shortCut2()">지름길2</div>
            <div class="shortCut_div" onclick="shortCut3()">지름길3</div>
            <div class="shortCut_div" onclick="shortCut4()">지름길4</div>
        </div>
        <div id="lecture_building" style="display: none;">
            <div>
                <div class="lecture_building_div" onclick="lecture_building1()">1.진리관</div>
                <div class="lecture_building_div" onclick="lecture_building2()">2.성신관</div>
                <div class="lecture_building_div" onclick="lecture_building3()">3.애경관</div>
                <div class="lecture_building_div" onclick="lecture_building4()">4.예지관</div>
                <div class="lecture_building_div" onclick="lecture_building5()">5.덕문관</div>
            </div>
            <div>
                <div class="lecture_building_div" onclick="lecture_building6()">6.광교관</div>
                <div class="lecture_building_div" onclick="lecture_building7()">7.집현관</div>
                <div class="lecture_building_div" onclick="lecture_building8()">8.육영관</div>
                <div class="lecture_building_div" onclick="lecture_building9()">9.호연관</div>
                <div class="lecture_building_div" onclick="lecture_building10()">10.제2공학관</div>
            </div>
        </div>
        <div id="library" >
            <div class="library_div" onclick="library1()">아고라</div>
            <div id="library1_detail" style="display: none;">
                <p>cdaocvjapijvpvkaienpinvpinepi</p>
            </div>
            <div class="library_div" onclick="library2()">중앙도서관</div>
            <div id="library2_detail" style="display: none;">
                <p>cdaocvjapijvpvkaienpinvpinepi</p>
            </div>
            <div class="library_div" onclick="library3()">2강의동</div>
            <div id="library3_detail" style="display: none;">
                <p>cdaocvjapijvpvkaienpinvpinepi</p>
            </div>
            <div class="library_div" onclick="library4()">7강의동</div>
            <div id="library4_detail" style="display: none;">
                <p>cdaocvjapijvpvkaienpinvpinepi</p>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
